@import "../abstract/variables";

.button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: $sm-border-radius;

  cursor: pointer;

  &:active {
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
  }

  &--primary {
    background-color: $primary-color;
    color: white;
  }

  &--secondary {
    background-color: $secondary-color;
  }

  &--outline {
    background-color: $secondary-color;
    border-width: 1px;
    border-style: solid;
    font-weight: 400;
    border-color: $primary-color;
    color: $primary-color;
  }

  &--link {
    background-color: transparent;
    padding: 0;
  }

  &--icon {
    background-color: transparent;
    padding: 0;
  }

  &--destructive {
    background-color: $destructive;
    color: white;
  }

  &--size-small {
    font-size: $font-small;
  }

  &--size-medium {
    font-size: $font-medium;
  }

  &--size-large {
    font-size: $font-large;
  }
}
