@use "../abstract/mixins" as mixins;
@use "../abstract/variables" as vars;
@use "../abstract/functions" as f;

.card {
  @include mixins.default-shadow;
  @include mixins.flex-center(column);

  width: fit-content;
  border-radius: vars.$md-border-radius;
  padding: 0 f.rem(16px) f.rem(16px) f.rem(16px);

  &--bg-secondary {
    background-color: vars.$secondary-color;
  }
}
