@use "../abstract/mixins" as mixins;
@import "../abstract/variables";

.login-page-layout {
  @include mixins.flex-center;
  height: 100%;
  padding: 0 8px;

  .card {
    background-color: $secondary-color;
    width: 100%;
    max-width: 360px;

    .login-input-container {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      width: 100%;
    }

    .login-buttons-container {
      margin-top: 32px;
      width: 100%;

      .button {
        width: 100%;
      }

      .or-signup {
        @include mixins.flex-center;

        font-size: $font-medium;
        width: fit-content;
        margin: auto;

        a {
          color: black;
          width: fit-content;
          margin: auto;
        }
      }
    }
  }
}
