@use "../abstract/variables" as vars;

@mixin default-shadow {
  -webkit-box-shadow: 5px 5px 38px -22px rgba(54, 54, 70, 1);
  -moz-box-shadow: 5px 5px 38px -22px rgba(54, 54, 70, 1);
  box-shadow: 5px 5px 38px -22px rgba(54, 54, 70, 1);
}

@mixin flex-center($direction: row, $gap: vars.$default-flex-gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #{$direction}-gap: $gap;
}
